<ion-header>
  <ion-navbar>
    <ion-title>
      Abastible
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <ion-card>
        <ion-card-content>
          <ion-card-title>
            <ion-label *ngIf="recording">Escuchando Audio....</ion-label>
            <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
          </ion-card-title>
          <ion-label *ngIf="procentaje ==2">Buscando Resultados...</ion-label>
        </ion-card-content>
      </ion-card>
      <ion-item-sliding  *ngFor="let item of currentItems">
          <p *ngIf="procentaje == 1" ion-item >{{item}}</p>
     </ion-item-sliding>


</ion-content>
